<html>
<head> <link rel="stylesheet" href="about.css"> </head>
<body>

<div class="box">
        <h4>About the company:</h4><br>
<p>Jaffers Hair Salon was opened on June 1, 2013 in the heart of Chennai at Madhya Kailash.

    Our team of professional, talented, and continuously educated stylists are committed to working with each and every client to achieve the look that is best suited for them.
    
    We strive for the highest quality of service, while maintaining a fun, friendly, non-pretentious environment.<br><br><br>
    
    We look forward to seeing you!
    <br>
    <br>
    
    Kevin,Sagar and Shalini;<br><br>
    Owners</p>
</div>
</body>
</html>