<!DOCTYPE html>
<html>
<head> <link rel= "stylesheet" href="booking2.css">          
</head>
<body>
<div class="box2">
<form action="/booking2" name="f2"  method="POST">
    <h3 id="hd2">Choose Stylist..!!</h3>
<form method="POST" action="/timeslot1" >
    <input type="radio" name="gender"  value="{{S1}}" > {{S1}}<br>
    <input type="radio" name="gender"   value="{{S2}}"> {{S2}}<br>
    <input type="radio" name="gender" value="{{S1}}" checked> Anybody is fine</br></br>
    <input type="submit" value="Display Time Slot" >
  </form>
</form>
<br>

<!-- <iframe  height="350px" width="350px" name="iframe1"  class="frame"  src="/timeslot1"></iframe><br>
<form action="/booking3" name="fr">
<input type="submit" name="submit" value="submit"> -->
</form>
</div>
</body>

</html>