<!DOCTYPE html>
<html>
<head> <link rel="stylesheet" href="login.css"> </head>
<body>
    <div class="box">
            <form action="/login" name="f2"  method="post">
                <img src="logo.jpg"  id="image" height="75" width="75">
                <h3 id="heading">LOGIN  </h3>
               
<input type="text" name="username" placeholder="username" class="element" required="">
<br><br>
<input type="password" name="password" placeholder="password" class="element" required="">
<br><br>
<input type="submit"  class="element" value="Login">
<p>Don't have an account?</p>
<a href="signup"  >Sign Up</a> 

</form>
</div>
</body>
 



</html>