doctype html>
<html>
<head> <link rel="stylesheet" type="text/css" href="workhours.css"> </head>
<div id="top">
<div class="header">
<img src="logo.jpg" alt="company logo" style="width:100px;height:100px; border-radius: 50%;float:left">
<p> <h1> <span style="border: 1px solid black">Jaffers Hair S@lon!</span> </h1> </p> 
  <div class="header-right">
    <a class="active" href="#home">Home</a>
    <a href="about.html">About</a>
    <a href="#contact">Contact</a>
    <a href="login_page.html">Login</a>
  </div>
</div>

</div>
<div id="bottom">
<p>bottom </p>
<div class="split left">
<div class="centered">
    <h3> BUSINESS HOURS </h3>
<table>
  <tr>
    <th></th>
    <th></th>   
  </tr>
<tr>
<td> Sunday </td>
<td> closed </td>
</tr>
<tr>
<td> Monday </td>
<td> 9:00 am to 6:00 pm</td>
</tr>
<tr>
<td> Tuesday </td>
<td>9:00 am to 18:00 pm</td>
</tr>
<tr>
<td> Wednesday </td>
<td> 9:00 am to 18:00 pm</td>
</tr>
<tr>
<td> Thursday </td>
<td> 9:00 am to 18:00 pm</td>
</tr>
<tr>
<td> Friday </td>
<td> 9:00 am to 18:00 pm</td>
</tr>
<tr>
<td> Saturday </td>
<td> 9:00 am to 18:00 pm</td>
</tr>
</table> 
  </div>
</div>

<div class="split right">
<h2> this is right split </h2>
</div>
</div>
</html>